* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 0.4%;
    background: url(../assets/landingPage.png) fixed no-repeat;
    background-size: cover;
}

.flex-container{    
    display: flex;
    justify-content: center;
    margin: auto;
}

.landingModal{
    z-index: 1;
    position: absolute;
    background-image: url(../assets/landingModal.png);
    background-size: 650px 370px;
    background-repeat: no-repeat;
    box-shadow: 9px 10px 6px black;
    border: 1px black solid;
    width: 650px;
    height: 350px;
    margin: auto;
    animation: landing-modal;
    animation-duration: 4s;
    animation-timing-function: ease-out;
} 

/* @keyframes landing-modal{
    0%   {top: -500px}
    100% {top: 25px}
} */

.winnerScreen{
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    background-color: black;
    color: white;
}

.winner{
    font-size: 50px;
    text-align: center;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'New Rocker', cursive;
}

#resetPlay{
    font-family: 'New Rocker', cursive;
    background-color: black;
    color: white;
    border: 1px white solid;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 25px;
}

.gameBoard{
    width: 650px;
    height: 350px;
    background-image: url(../assets/gameBoardImage.png);
    background-size: 650px 350px;
    margin: 0 auto;
    position: relative;
    border: 1px black solid;
    box-shadow: 9px 10px 6px black;
    animation: game-board;
    animation-duration: 4s;
    animation-timing-function: ease-out;
}

@keyframes game-board{
    0%   {top: -600px}
    100% {top: 25px}
}

.singleGrid{
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
}

/* Mario character */
.playerOne{
    position: absolute;
    top: 150px;
    left: 0;
    background-image: url(../assets/mario.png);
}

/* Spiny character */
.playerTwo{
    position: absolute;
    top: 150px;
    left: 598px;
    background-image: url(..//assets/spiny.png);
}

.obstacles{
    position: absolute;
}

#obstacleOne{
    top: 150px;
    left: 200px;
    background-image: url(..//assets/pipe.png);
}

#obstacleTwo{
    top: 150px;
    left: 400px;
    background-image: url(..//assets/brick.png);
}

.playerOneWithRock{
    position: absolute;
    background-image: url(..//assets/marioWithRock.png);
}

.playerTwoWithRock{
    position: absolute;
    background-image: url(..//assets/spinyWithRock.png);
}

.rock{
    position: absolute;
    top: 50px;
    left: 300px;
    background: url(..//assets/rock.png)no-repeat center 70%;
    background-size: 100px 78px;
}

.playerOneWithPaper{
    position: absolute;
    background-image: url(..//assets/marioWithPaper.png);
}

.playerTwoWithPaper{
    position: absolute;
    background-image: url(..//assets/spinyWithPaper.png);
}

.paper{
    position: absolute;
    top: 150px;
    left: 300px;
    background: url(..//assets/burntPaper.png) no-repeat center 40%;
    background-size: 110px 110px;
}

.playerOneWithScissors{
    position: absolute;
    background-image: url(..//assets/marioWithScissors.png);
}

.playerTwoWithScissors{
    position: absolute;
    background-image: url(..//assets/spinyWithScissors.png);
}

.scissors{
    position: absolute;
    top: 250px;
    left: 300px;
    background: url(..//assets/scissors.png) no-repeat center 55%;
    background-size: 50px 50px;
}

@media only screen and (min-width: 975px){

    .landingModal{
        width: 975px;
        height: 525px;
        background-size: 975px 560px;
    }
    .gameBoard{
        width: 975px;
        height: 525px;
        background-size: 975px 525px;
    }

    .singleGrid{
        width: 75px;
        height: 75px;
        background-size: 75px 75px;
    }

    .playerOne{
        top: 225px;
    }

    .playerTwo{
        top: 225px;
        left: 898px;
    }

    #obstacleOne{
        top: 225px;
        left: 300px;   
    }

    #obstacleTwo{
        top: 225px;
        left: 600px;
    }

    .rock{
        top: 75px;
        left: 450px;
        background-size: 120px 120px;
    }

    .paper{
        top: 225px;
        left: 450px;
        background-size: 170px 160px;
    }

    .scissors{
        top: 375px;
        left: 450px;
    }
}