* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 0.4%;
    background: url(../assets/landingPage.png) fixed no-repeat;
    background-size: cover;
}

.flex-container{    
    display: flex;
    justify-content: center;
    max-width: 960px;
    margin: auto;
}

.landingModal{
    z-index: 1;
    position: absolute;
    background-image: url(../assets/landingModal.png);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 8px 8px 5px black;
    border: 1px black solid;
    width: 600px;
    height: 455px;  
    margin: auto;
    animation: landing-modal;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}

@keyframes landing-modal{
    0%   {top: -500px}
    100% {top: 25px}
}

